name: audit-lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  audit:
    name: cargo-audit
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: cargo-audit
        run: |
          cargo install cargo-audit --locked
          cargo audit

  lint:
    name: linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: 'clippy,rustfmt'

      - uses: Swatinem/rust-cache@v2

      - name: cargo-build
        run: |
          cargo build

      - name: cargo-fmt
        run: |
          cargo fmt --all --check

      - name: cargo-clippy
        run: |
          cargo clippy --all-features -- -Dwarnings

